<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/static/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/static/css/main.css' />
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/jquery-3.6.4.js"></script>
</head>

<body>
  <header>
    <%- include('header'); -%>
  </header>
  <main>
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <form id="search" method="get">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <input type="text" name="search" id="searchValue" class="form-control">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
      <form id="add">
        <div class="mb-3 text-center">
          <h1>ADD</h1>
        </div>
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <input type="text" id="address" name="address" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <form id="edit">
        <div class="mb-3 text-center">
          <h1>EDIT</h1>
          <input type="hidden" id="idEdit">
        </div>
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" id="nameEdit" name="name" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" id="emailEdit" name="email" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <input type="text" id="addressEdit" name="address" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% list.forEach(function(item) { %>
            <tr>
              <th scope="row">
                <%= item.id %>
              </th>
              <td>
                <%= item.name %>
              </td>
              <td>
                <%= item.email %>
              </td>
              <td>
                <%= item.address %>
              </td>
              <td>
                <button type="button" class="btn btn-primary" onclick="edit(<%= JSON.stringify(item) %>)">Edit</button>
                <button type="button" class="btn btn-danger" onclick="remove(<%= item.id %>)">Delete</button>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <%- include('footer'); -%>
  </footer>
</body>
<script>
  $("#edit").toggle();
  $("#add").on("submit", function (event) {
    event.preventDefault();
    $.ajax({
      url: "/add",
      method: "post",
      data: {
        name: $("#name").val(),
        email: $("#email").val(),
        address: $("#address").val()
      }
    }).done(data => {
      window.location.reload();
    });
  });
  $("#edit").on("submit", function (event) {
    event.preventDefault();
    $.ajax({
      url: "/edit/" + $("#idEdit").val(),
      method: "put",
      data: {
        name: $("#nameEdit").val(),
        email: $("#emailEdit").val(),
        address: $("#addressEdit").val()
      }
    }).done(data => {
      window.location.reload();
    });
  });
  function edit(item) {
    $("#nameEdit").val(item.name)
    $("#emailEdit").val(item.email)
    $("#addressEdit").val(item.address)
    $("#idEdit").val(item.id)
    $("#add").toggle();
    $("#edit").toggle();
  }
  function remove(id) {
    $.ajax({
      url: "/delete/" + id,
      method: "delete",
    }).done(data => {
      window.location.reload();
    });
  }
</script>

</html>